<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width,initial-scale1.0"/>
        <title>About Me</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <div class="container">
            <img src="/public/image/praise-preview.png" alt="my picture" class="profile-pic">
            <h1>About Me</h1>
            <p>
                "Hello! I'm learning Express.js and this page is served with static files"
            </p>
            <input type="text" id="nameInput" placeholder="Enter your name here"/>
            <p id="gretting"></p>
        </div>


        <script src="/public/script.js"></script>
    </body>
</html>
    